

/*.flex-container {*/
/*  !*padding-top: 100px;*!*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  background-color: antiquewhite;*/
/*}*/

.header-container {
  display: flex;
  width: 100%;
  color: white;
  justify-content: space-between;
  flex-direction: row;
  font-size: 15px;
}

.header-container div{
  padding-right: 10px;
  padding-top: 5px;
}

.column {
  display: flex;
  min-height: 800px;
  min-width: 380px;
  max-height: 100%;
  max-width: 100%;
  background-image: linear-gradient(#995f99, #131313);
  flex-direction: column;
  align-items:center;
  align-content: center;
  border-radius: 20px;
}

.tracklist-container {
  display: flex;
  padding-left: 40px;
  width: 100%;
  color: white;
  /*background-color: brown;*/
  flex-direction: row;
  flex-wrap: wrap;
  height: 30px;
}

.download-container {
  display: flex;
  width: 100%;
  color: white;
  /*background-color: blue;*/
  /*flex-direction: row;*/
  justify-content: space-between;
  flex-wrap: wrap;
  height: 30px;
  margin-top: 10px;
}

.artist {
  display: flex;
  /*background-color: green;*/
  justify-content: space-between;
  width: 100%

}

.icon {
  /*background-color: yellow;*/
  padding-right: 20px;
  color: grey;
  padding-bottom: 10px;
}

.followers{
  margin-top: 10px;
  margin-bottom: 20px;
}


.title {
  color: white;
  align-content: center;
}

.switch {
  /*background-color: yellow;*/
  padding-right: 20px;

}



.download{
  font-size: 17px;
  padding-left: 25px;
  color: white;
  padding-top: 8px;
  /*background-color: brown;*/
}

.info {
  color: grey;
  padding-left: 20px;
}

.followers {
  color: grey;
  padding: 0;
}

.time {
  color: white;
  padding-left:10px;
}

.Button {
  color: green;
}

.padding {
  padding-top: 40px;
}